body {
  font-family: "Montserrat", sans-serif;
}
.container_weather {
  text-align: center;
  position: relative;
  width: 630px;
}
table {
  position: relative;
  left: 280px;
  top: -30px;
  border-collapse: separate;
  border-spacing: 5px;
}
.current_weather {
  position: relative;
  left: 20px;
  top: 40px;
  font-size: 35px;
}

.current_weather img {
  size: 40px;
}
#celciusLink {
  text-decoration: none;
}
#fahrenheitLink {
  text-decoration: none;
}
#currentCity {
  font-weight: bolder;
}
#weathercontainerwrapper {
  max-width: 600px;
  margin: 0 auto;
}

#weathercontainer {
  padding: 20px;
  border: 1px solid rgb(61, 60, 60, 0.6);
  border-radius: 4px;
  margin-top: 10px;
}
.currentlyDisplaying {
  cursor: default;
  color: #212529;
}
.currentlyDisplaying:hover {
  color: #212529;
}
